.rune-m {
    height:100px;
}

.footer-col-1 {
    width:auto !important;
    margin-right: 15px;
}

a, a:visited {
    color: #424242 !important;
}

.post-content img {
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto; 
}